<!DOCTYPE html>
<html>
    <head> 
        <title>FAKE INSTAGRAM</title>
    </head>
    <body>
        <h1>글이 성공적으로 작성되었습니다.</h1>
        <p>제목: <%= @title %></p>
        <p>내용: <%= @content %></p>
    </body>
</html>